* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

#root {
  position: relative;
  min-height: 100vh;
}

.Main {
  text-align: center;
  position: relative;
}

/* ------------------------------ */

/* ----------------table Start-------------- */

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
}

th,
td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

.overFlow {
  overflow-x: auto;
}

/* ----------------table End-------------- */

/* ----------------Form Start-------------- */

.form {
  margin: auto;
  width: 60%;
  padding: 10px;
}

input {
  display: block;
  min-width: 90%;
  margin: 1em;
  padding: 1em;
  width: 35em;
  border-radius: 8px;
  border-style: none;
  border: 1px solid #e4e6e8;
  transition: 0.1s ease;
}

input:hover {
  border-color: palevioletred;
}

button {
  margin: 0.8em;
  padding: 1em;
  border: 1px solid #e4e6e8;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.1s ease-in;
}

button:hover {
  background-color: palevioletred;
  color: white;
}

/* ----------------Form End-------------- */

/* ----------------Header End-------------- */

.Header {
  position: relative;
  height: 50px;
  width: 100%;
}

.link-container {
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
}

.link-container a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.link-container a:hover {
  background: #ddd;
  color: black;
}

/* ----------------Header End-------------- */
